.form-area{
    width: 90%;
    height: max-content;

    display: flex;
    flex-direction: column;

    box-shadow: 0px -1px 6px 8px rgba(0,0,0,0.08);
    margin-bottom: 2rem;

    
}

.form-newProduct{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    align-items: center;
}

.area-input-label{
    display: flex;
    flex-direction: column;
}

.form-newProduct input, .input-select{
    width: 18rem;
    height: 2rem;
    border: 1px solid var(--color-theme-gray);
    border-radius: 5px;
    padding-left: 1rem;

}
input.input-file{
    padding-left: 0;
}

.form-inputs-group-1,.form-inputs-group-2, .form-inputs-group-3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.5rem;
    justify-content: space-around;
    align-items: center;
}

.input-file::file-selector-button {
    font-weight: bold;
    color: var(--color-theme-blue);
    padding: 0.4rem;
    border: 1px solid var(--color-theme-gray);
    border-radius: 3px;
    cursor: pointer;
  }

  .form-cad-btn{
    width: 11rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-theme-green);
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 1rem;
    
  }

  .form-cad-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px -1px 6px 8px rgba(0,0,0,0.08);
}
