
.product-table{
    width: 100%;
    height: max-content;
    border: 1px solid var(--color-theme-gray);
    border-collapse: collapse;
}

.product-table caption{
    margin-bottom: 1rem;
    color: var(--color-theme-blue);
    font-weight: bolder;
}

.product-table th{
    height: 3rem;
}
.product-table td{
    height: 5rem;
}
.product-table td p{
    padding-left: 2.5rem;
}

.cad-prod-btn{
    width: 11rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-theme-green);
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 1rem;
    
}

.cad-prod-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px -1px 6px 8px rgba(0,0,0,0.08);
}
