@import "../../assets/colors.css";

.AuthHome{
    width: 100%;
    display: none;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: var(--color-theme-midWhite);
}

.Area-auth{
    align-self: center;
    display: flex;
    flex-direction: column;

    width: 25rem;
    height: 25rem;

    justify-content: space-around;
    align-items: center;

    border: 1px solid var(--color-theme-gray);
    border-radius: 5px;

    background-color: var(--color-theme-blue);
}
.title-auth-area{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
.Area-auth h1{
    font-size: 2rem;
    color: #fff;
    margin-bottom: -2rem;
}
.Area-auth h1 span{
    color: var(--color-theme-red);
}

.Auth-inputs-area{
    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.Auth-inputs-area label{
    color: #fff;
    margin-bottom: 0.5rem;
}

.Auth-inputs-area :nth-child(3){
    margin-top: 1rem;
}

.Auth-inputs-area input{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;

    box-sizing: border-box;
    padding-left: 1rem;
    outline: none;
}

.Auth-inputs-area input:hover{
    cursor: pointer;
}

.area-bt-auth{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.bt-Auth{
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: none;

    margin-top: -2rem;

    background-color: var(--color-theme-red);
    color: #fff;
    transition: 0.2s;
}

.bt-Auth:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.area-bt-auth span{
 font-size: 0.7rem;
 color: #fff;
 padding-top: 1rem;
}

.area-bt-auth span b:hover{
cursor: pointer;
}