.sell-product{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    padding: 1rem 0 1rem 1rem;


}

.title-sell-product{
    margin-bottom: 1rem;
}

.sell-product-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    justify-content: space-around;
}


.search-product-area button{

    width: 5rem;
    height: 2.1rem;
    background: transparent;
   
    border-radius: 5px;
    border: 1px solid var(--color-theme-gray);
    font-weight: bolder;

    transition: 0.3s;
}
.search-product-area button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--color-theme-green);
    border: none;
}

.main-sell-product-area, .search-product-area{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}

.search-product-area{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;

    align-items: center;
    gap: 0.5rem;
    justify-content: space-around;

    margin-bottom: 1rem;

}



.product-id{


    width: 18rem;
    height: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-theme-gray);
    border-radius: 3px;
    

}


.sell-item{
    display: flex;
    flex-direction: column;

    width: max-content;
    height: max-content;
    border-collapse: collapse;
    gap: 1rem;

    justify-content: space-around;
}

.sell-item th,.sell-item td{
    border: 1px solid #ddd;
    max-width: 8rem;
    min-width: 8rem;
    word-wrap: break-word;
    height: 2rem;
    text-align: center;
}


.sell-item th {
    background-color: var(--color-theme-midWhite);
  }

  .sell-item:nth-child(even) {
    background-color: var(--color-theme-midWhite);
  }

  .sell-item tr:hover {
    background-color: #ddd;
  }

  .sell-item td:last-child {
    text-align: center;
  }



















.sell-product-side-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total-area, .total-products{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: right;

    width: 20rem;
}

.sell-product-side-area button{
    width: 100%;
    height: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-theme-gray);
    border-radius: 5px;
    margin-top: 1rem;
}

.sell-product-side-area button:hover{
    cursor: pointer;
    background-color: var(--color-theme-red);
}
