@import "../../../assets/colors.css";

.Footer{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(300deg, rgba(70,197,226,1) 3%, rgba(14,20,105,1) 73%);
    
}