@import "../../../assets/colors.css";

.Header{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: center;

    background: linear-gradient(300deg, rgba(70,197,226,1) 3%, rgba(14,20,105,1) 73%);
}

.User-menu{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;

}

.Header img{

width: 2rem;
height: 2rem;;

}