.item-overview{

    width: 15.5rem;
    height: 9rem;
    background-color: #fff;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    box-shadow: 3px 7px 43px 3px rgba(186,186,186,0.74);
    padding: 0 1rem 0 1rem;
}

.sup-area-card{

    max-width: 12rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    border-bottom: 1px solid var(--color-theme-gray);

    padding-bottom: 1rem;

}

.img-item-card{

    width: 4rem;
    height: 4rem;;
}


.desc-item-card{

    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.title-item-overview{
    font-size: 1rem;
}


